node_modules/

.env
.env.*
!.env.example

dist/
build/

*.log
coverage/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.pdf
!**/*_report.pdf
*.md
!**/README.md
frontend/**/db.json

CLAUDE.md
.cloude/

**/*.zip